<div class="pa-login-parent pa-parent">
  <div class="pa-auth-text">
    <p class="pa-auth__header">
      Войти в панель управления АСКУЭ «СИМ»
    </p>
    <div class="pa-auth-sub">
      <p class="pa-auth-sub__question">
        Еще нет аккаунта?
      </p>
      <p class="pa-auth-text-sub__text">
        Вы можете <a class="pa-auth__link pa-link" href="/registration">зарегестрироваться</a>
      </p>
    </div>
  </div>
  <div class="pa-element-parent">
    <div data-element="login-element"></div>
  </div>
</div>
