<div class="pa-registration-parent pa-parent">
  <div class="pa-auth-text">
    <p class="pa-auth__header">
      Восстановление пароля
    </p>
    <div class="pa-auth-sub">
      <p class="pa-auth-text-sub__text">
        Уже зарегестрированы? <a class="pa-auth__link pa-link" href="/login">Войти</a>
      </p>
    </div>
  </div>
  <div class="pa-element-parent">
    <p>Для восстановления пароля укажите e-mail или телефон на который вы регистрировались.</p>
    <div class="pa-recovery-element" data-element="recovery-element"></div>
  </div>
</div>
