<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  .app {
    width: 100%;
    height: 100%;
  }

  .body {
    width: 100%;
    height: 100%;
  }

  /* Responsive Styles */
  @media screen and (min-width: 1920px) {
    .body {
      max-width: 1920px;
      margin: 0 auto!important;
    }
  }
</style>

<div class="app">
  <div class="body">
    <router-outlet></router-outlet>
  </div>
</div>