$main-gray: #afbccd;
$main-green: #147388;
$main-dark: #1f1f1f;
$main-red: #f44336;
$light-dark: #1d3557;
$lighter-dark: #596a82;
$main-gray: #f0f0f0;
$dark-gray: #e0e0e0;
$darker-gray: #d3d3d3;
$light-gray: #eaeaea;
$main-white: #fff;
$bluish-dark: #e9eff6;
$light-blue: #FAFBFE;
$main-black: #000;
